@model HelpDeskSystem.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>

        </table>
       
        


        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityId)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.PriorityId)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Id)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategoryId)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategoryId)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attachment)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Attachment)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTo)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedTo.Id)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedOn)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedOn)
        </div>
    </div>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
